
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!doctype html>
<html lang="vi">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/public/login/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/public/login/images/bg.jpg)">
    <section class="ftco-section">
        <div class="container">
            
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <div class="stage">
                        <div class="wrapper">
                            <div class="slash"></div>
                            <div class="sides">
                                <div class="side"></div>
                                <div class="side"></div>
                                <div class="side"></div>
                                <div class="side"></div>
                            </div>
                            <div class="text">
                                <div class="text--backing">SHOP.FASHION</div>
                                <div class="text--left">
                                    <div class="inner">SHOP.FASHION</div>
                                </div>
                                <div class="text--right">
                                    <div class="inner">SHOP.FASHION</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Have an account?</h3>
                        <form action="#" method="post" class="signin-form">
                            @ViewBag.error
                            <div class="form-group">
                                <input type="text" name="taikhoan" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" name="matkhau" type="password" class="form-control" placeholder="Password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="button_login" style="width:100%"><span class="text">Sign In</span> </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input name="luuthongtin" type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #fff">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <button type="submit" class="button_login" style="width:100%"><span class="text">Sign up</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/public/login/js/jquery.min.js"></script>
    <script src="~/public/login/js/popper.js"></script>
    <script src="~/public/login/js/bootstrap.min.js"></script>
    <script src="~/public/login/js/main.js"></script>

</body>
</html>

